REPO_URL=https://github.com/utilizator/proiect.git
DB_FILE=scanari.db
PERSONAL_TOKEN=ghp_exemplutoken1234567890
REPO_BRANCH=main
LLM_API_KEY=gsk_exemplutoken1234567890
PROJECT_DESCRPTION="Project description"
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=your_email@gmail.com
TO_EMAIL=manager@gmail.com